
<div class="container">
  <div class="row">
    <div class="container">
      <table style="height: 100px;">
        <tbody>
        <tr>
          <th class="align-middle">Team</th>
          <td class="align-middle"><h1>{{ teamName }}</h1></td>
        </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary btn-xlarge btn-block" (click)="score()">Score!</button>
    </div>
    <div *ngIf="showWinImage" class="container">
      <hr>
      <h3>You won! Time to party</h3>
      <img  src="https://media1.tenor.com/images/165d65dcedc3845a647836ee21b15854/tenor.gif" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>

