<div class="container">
  <div class="row">
    <ngb-alert *ngIf="showalert" [dismissible]="false" type="success">{{ successMessage }}</ngb-alert>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div id="main-content" class="container">
      <div class="row">
        <div class="col-md-6">
          <form class="form-inline">
            <div class="form-group">
              <label for="playercount">Game info:</label>
              <div id="playercount" class=""></div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <button id="startgame" (click)="startgame()"  class="btn btn-primary btn-lg" type="submit">Start Game!</button>
          <hr>
          <button id="resetgame" (click)="resetgame()"  class="btn btn-danger btn-lg" type="submit">Reset Game!</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-2">
      <h1>A</h1>
    </div>
    <div class="col-8">
      <ngb-progressbar [value]="teamAvalue"  type="info"></ngb-progressbar>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <br>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-2">
      <h1>B</h1>
    </div>
    <div class="col-8">
      <ngb-progressbar [value]="teamBvalue"></ngb-progressbar>
    </div>
  </div>
</div>

